.form-add{
    display: flex;
    margin-top: 15%;
}

.form{
    margin: auto;
}

.form-title, .form-user, .form-password, .form-submit, .limit-password, .gener-btn{
    width: 85%;  
    padding: 10px;
    border: 1px solid #007145;
    border-radius: 10px;
    margin: 15px;
    outline: none;
}

.form-title::placeholder, .form-user::placeholder, .form-password::placeholder, .form-submit::placeholder, .limit-password::placeholder{
    color: #00472c;
}

.form-submit, .gener-btn{
    cursor: pointer;
    text-align: center;
    user-select: none;
    font-weight: bold;
}

.form-submit:hover, .gener-btn:hover{
    color: white;
    background-color: #007145;
}

@media screen and (min-width:480px){
    .form-add{
        margin-top: 7%;
    }
}





