.search-content {
	margin: 0 1.5em;
}

.bar-btn {
	padding: 5px;
	display: flex;
}

.search-bar {
	width: 90%;
	padding: 10px;
	border: 1px solid #007145;
	border-right: 0;
	border-radius: 10px 0 0 10px;
}

input.search {
	width: 100%;
	padding-left: 5px;
	font-size: .8rem;
	outline: none;
}

input.search::placeholder{
	color: #007145;
}

button.submit {
	cursor: pointer;
	border: 1px solid #007145;
	border-radius: 0 10px 10px 0;
	padding: 10px;
}

.content{
	margin: 3%;
}

@media screen and (min-width:480px) {
	.search-content {
		margin: 1% 25%;
	}

	.search-bar {
		padding: 15px;
	}

	button.submit {
		padding: 15px;
	}

}